version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "auto-update"
    # opcional: definir assignees ou reviewers se desejar
    # assignees:
    #   - "monteiroph"
